version: "3"
services:

  models:
    image: tp33/django
    external_links:
      - mysql:db
    volumes:
      - .:/app
    ports:
      - "8001:8000"
    networks:
      - backend
    command: bash -c "pip install djangorestframework && pip install Pillow &&
                python manage.py loaddata db.json &&
                python manage.py makemigrations && python manage.py migrate &&
                mod_wsgi-express start-server --working-directory . --reload-on-changes ./foo/wsgi.py"

networks:
  backend: