<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}{% endblock %}
  <link rel="icon"
        href="https://i.pinimg.com/236x/65/fd/23/65fd23aae970644c82ce0602f00ac525--university-of-virginia-stickers.jpg">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }

    .thumbnail {
      object-fit: contain;
      height: 40px;
      width: 40px;
    }
  </style>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'frontend:homepage' %}" style="margin-left: 11%">UVA SwipeMe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline my-2 my-lg-0" action="{% url 'frontend:search_listing' %}" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Search listings.." name="search" style="width: 400px;">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" style="margin-left: 30%">
    <ul class="navbar-nav" style="text-align:right">
      
      {% if request.COOKIES.logged_in %}
        <!-- <li class="nav-item"></li>
          <p class="navbar-brand">Hello, {{ request.COOKIES.first_name }}!</p>
        </li>  -->
        <li class="nav-item" type="link">
          <a class="nav-link" href="{% url 'frontend:homepage' %}">Home</a>
        </li>
        <li class="nav-item" type="link">
          <a class="nav-link" href="{% url 'frontend:about' %}">About</a>
        </li>
        <li class="nav-item" type="link">
          <a class="nav-link" href="{% url 'frontend:profile' %}">Profile</a>
        </li>
        <li class="nav-item" type="link">
          <a class="nav-link" href="{% url 'frontend:logout' %}">Log out</a>
        </li>
      {% else %}
        <li class="nav-item" type="link">
          <a class="nav-link" href="{% url 'frontend:homepage' %}">Home</a>
        </li>
        <li class="nav-item" type="link">
          <a class="nav-link" href="{% url 'frontend:about' %}">About</a>
        </li>
        <li class="nav-item" type="link">
          <a class="nav-link" href="{% url 'frontend:login' %}">Log in</a>
        </li>
        <li class="nav-item" type="link">
          <a class="nav-link" href="{% url 'frontend:signup' %}">Sign up</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="content" style="min-height: 90vh">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; SwipeMe · Powered by <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>, <a
        href="https://www.w3schools.com" target="_blank">W3Schools</a></small>
    <br>
    <small>Note from developer: currently, we <b>only</b> support meal swipe trade within UVA student community. But we are actively working with students from other universities to gather necessary information so that we can expand our app to student communities in other universities.</small>
  </div>
</footer>
</body>
</html>