{% extends "frontend/base.html" %}
{% load static %}

{% block title %} 
UVA SwipeMe : Post Detail
{% endblock title %} 


{% block content %}

{% if err %}
    <h2 style="text-align: center">Invalid post ID</h2>
{% else %}
    {% if user %}
        <ul>
        {% for key, value in post.items %}
        {% if key == 'seller' %}
            <li>{{ key }}: <a href="{% url 'frontend:user_detail' value.id %}">{{ value.first_name }} {{ value.last_name }}</a> </li>
        {% else %}
            <li>{{ key }}: {{ value }}</li>
        {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% endblock content %}