{% extends "frontend/base.html" %}
{% load static %}

{% block title %} 
UVA SwipeMe : Post Detail
{% endblock title %} 


{% block content %}

{% if not post %}
    <h2 style="text-align: center">Listing not found!</h2>
{% else %}
    <ul>
    {% for key, value in post.items %}
    {% if key == 'seller' %}
        <li>{{ key }}: <a href="{% url 'frontend:user_detail' value.0.id %}">{{ value.0.first_name }} {{ value.0.last_name }}</a> </li>
    {% else %}
        <li>{{ key }}: {{ value }}</li>
    {% endif %}
    {% endfor %}
    </ul>

    {% if recommendations %}
        <b>People who looked at this listing also looked at:</b>
        <div class="row" style="margin: 5px; align-items: center;">
          {% for recomm in recommendations %}
          <div style="margin-left: 5%; margin-bottom: 2%; width: 300px;">
            <b><a href="{% url 'frontend:post_detail' recomm.id %}">{{ recomm.title }}</a></b>
          <li>Pick-up Address: {{ recomm.pickup_address }}</li>
          <li>Price: ${{ recomm.price }}</li>
          </div>
          {% endfor %}
        </div>
    {% else %}
        <b>There are currently no recommendations available for this listing.</b>
    {% endif %}

{% endif %}

{% endblock content %}