{% extends "frontend/base.html" %}
{% load static %}

{% block title %} 
UVA SwipeMe : User Detail
{% endblock title %} 


{% block content %}

{% if err %}
    <h2 style="text-align: center">Invalid user ID</h2>
{% else %}
    {% if user %}
        <ul>
        {% for key, value in user.items %}
        {% if not key == 'password' and not value == '' %}
            <li>{{ key }}: {{ value }}</li>
        {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% endblock content %}